<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex justify-center">
        <container class="max-w-screen-2xl min-h-screen w-screen h-fit flex flex-col">
            <nav class="w-full h-16 bg-sky-500 px-12 flex items-center justify-between">
                <h1 class="text-2xl font-semibold text-white">Bunny ₍ᐢ. .ᐢ₎</h1>
                <div class="space-x-2.5">
                    <a href='/user/login' class="w-fit h-fit py-2 px-4 bg-sky-100 hover:bg-sky-200 rounded-md">
                        Login
                    </a>
                </div>
            </nav>
            <main class="w-full h-fit flex justify-center px-12 py-8 space-y-2.5">
                <h1 class="text-2xl font-medium">Only admin can access Dashboard</h1>
             </main>
        </container>
    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        
    </script>
</html>