<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" integrity="sha512-XcIsjKMcuVe0Ucj/xgIXQnytNwBttJbNjltBV18IOnru2lDPe9KRRyvCXw6Y5H415vbBLRm8+q6fmLUU7DfO6Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body class="flex justify-center">
        <container class="max-w-screen-2xl min-h-screen w-screen h-fit flex flex-col px-12 py-10 space-y-3.5">
            <h1 class="text-3xl font-semibold">Login</h1>
            <form action="/login" method="post" name="login" class="space-y-3.5">
                <div class="w-full flex flex-col space-y-2">
                    <input type="email" id="email" name="email" class="h-12 w-full px-5 border rounded-md outline-none" placeholder="Email">
                </div>
                <div class="w-full flex flex-col space-y-2">
                    <input type="password" id="password" name="password" class="h-12 w-full px-5 border rounded-md outline-none" placeholder="Password">
                </div>
                <% if (message) {%>
                    <div class="w-fit h-fit py-2 px-4 bg-red-500 text-lg text-white rounded-md">
                        <%= message %>
                    </div>
                <% } %>
                <input type="submit" value="Login" class="w-fit h-fit py-2 px-4 bg-teal-300 hover:bg-teal-400 text-lg text-white rounded-md">
            </form>
        </container>
    </body>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        
    </script>
</html>